body{
    background-image: url(cal1.gif);
background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    text-align: center;
margin-top: 20px;
width: auto;

}
h1{
    font-size: 34px;
    font-family: cursive;
}
p{
    font-family: fantasy;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border: solid;
    color: rgb(42, 72, 90);
    border-radius: 100px;
    height: 60px;

}
button{
    cursor:pointer;
    font-size: 23px;
    background: rgba(223, 178, 31, 0.692);
    width: 95px;
    height: 100px;
    border-radius: 35px;
    margin: 3px;
    border-color: seagreen;
    
}
.calculator{
    display: inline-block;
    padding: 20px;
    background-color:rgb(212, 160, 160);
    border-radius: 70px;
    border-style: solid;
}
    
    
    
